:root {
	--background-color: linear-gradient(#33312E, #212121);
	--main-color-white: #fff;
	--main-color-light: #87919E;
	--main-color-medium: #8DA7BE;
	--main-color-dark: #36413E;
	--main-color-black: #000;
	--main-shadows: -4px -4px 8px rgba(255, 255, 255, .07), 4px 4px 8px rgba(0, 0, 0, .15);
	--theme-bright-yellow-crayola-primary: #FCAB10;
	--theme-bright-yellow-crayola-secondary: rgba(252, 171, 16, .1);
	--theme-fiery-rose-primary: #f45866ff;
	--theme-fiery-rose-secondary: rgba(244, 88, 102, .1);
	--theme-lavender-floral-primary: #a288e3ff;
	--theme-lavender-floral-secondary: rgba(162, 136, 227, .1);
	--theme-lemon-yellow-primary: #faf33eff;
	--theme-lemon-yellow-secondary: rgba(250, 243, 62, .1);
	--theme-mauvelous-primary: #ff9fb2ff;
	--theme-mauvelous-secondary: rgba(255, 159, 178, .1);
	--theme-morning-blue-primary: #8db1abff;
	--theme-morning-blue-secondary: rgba(141, 177, 171, .1);
	--theme-red-salsa-primary: #fb3640ff;
	--theme-red-salsa-secondary: rgba(251, 54, 64, .1);
	--theme-sky-blue-crayola-primary: #53D8FB;
	--theme-sky-blue-crayola-secondary: rgba(83, 216, 251, .1);
	--theme-turquoise-primary: #29e7cdff;
	--theme-turquoise-secondary: rgba(41, 231, 205, .1);
	--theme-yellow-green-primary: #84C318;
	--theme-yellow-green-secondary: rgba(132, 195, 24, .1);
	--main-color-theme-primary: var(--theme-lemon-yellow-primary);
	--main-color-theme-secondary: var(--theme-lemon-yellow-secondary);
}

* {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

html, body {
	width: 100%;
	height: 100vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overscroll-behavior: none;
}

html {
	min-height: calc(100% + env(safe-area-inset-top));
	background-color: var(--main-color-black);
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body {
	min-height: 100%;
	background: var(--background-color);
	display: grid;
	grid-template-columns: minmax(3rem, auto) minmax(3rem, 960px) minmax(3rem, auto);
}

body.desktop {
	grid-template-rows: 50px 1fr 50px;
}

body.mobile,
body.tablet {
	grid-template-rows: 60px 1fr 70px;
}

header {
	grid-area: 1/1/2/-1;
	align-self: end;
}

.progressbar {
	width: 100%;
	height: 10px;
	background-color: var(--main-color-dark);
}

.innerbar {
	width: 0;
	height: 10px;
	background-color: var(--main-color-theme-primary);
}

main {
	grid-area: 2/2/3/-2;
}

a {
	display: block;
	text-align: center;
	color: var(--main-color-light);
	transition: all .3s ease-in-out;
	text-decoration: none;
}

.menuBtn:not(.footerBtn) {
	border: 1px solid var(--main-color-theme-primary);
	border-radius: 1rem;
	box-shadow: var(--main-shadows);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuBtn:not(.footerBtn):hover,
.menuBtn:not(.footerBtn):focus,
.menuBtn:not(.footerBtn):active {
	background-color: var(--main-color-theme-secondary);
	color: var(--main-color-medium);
}

.footerBtn:hover,
.footerBtn:focus
.footerBtn:active {
	color: var(--main-color-theme-primary);
}

main > a {
	font-size: 2rem;
}

main > a > p {
	font-size: 2rem;
}

footer > a {
	display: inline-block;
	margin-top: -1rem;
	margin-right: 1rem;
	padding: .5rem 1rem;
}