main {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow-y: scroll;
}

.vidContainer {
	justify-self: center;
	align-self: center;
	width: 100%;
}

.vidContainer video {
	box-shadow: var(--main-shadows);
	border-radius: 1rem;
	display: block;
	margin: 0 auto;
	width: calc(100% - 24px);
}

.vidContainer p {
	color: var(--main-color-light);
	text-align: center;
	letter-spacing: .2rem;
	margin-top: .3rem;
}

.vidContainer p.played {
	color: var(--main-color-theme-primary);
}

.vidContainer a:hover,
.vidContainer a:focus
.vidContainer a:active {
	color: var(--main-color-theme-primary);
}